.text{
    width: 50%;
    height: 100vh;
    background-color: #f2f2f2;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-left: 20%;
    margin-bottom: -1%;
    z-index: -1;
    box-shadow: #333 0px 0px 10px;
    border-radius: 10px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0#333333cc;
}

.smol{
    width: 50%;
    height: 50%;
}

body{
    background-image: url('../pictures/Quallen.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 24px;
    margin: 5px;
}

ul{
    font-size: 24px;
    margin: 5px;
}

li{
    font-size: 24px;
    margin: 5px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

h-2{
    margin-bottom: 1.5em;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 0.7%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.text-long{
    width: 50%;
    height: 100%;
    background-color: #f2f2f2;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-left: 20%;
    margin-bottom: -1%;
    z-index: -1;
    box-shadow: #333 0px 0px 10px;
    border-radius: 10px;
}